@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

      

//color
.text-gray-600{
    color:$gray-600;
}
.text-gray-900{
    color:$gray-900;
}

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


